.font-sans {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.text-gray-900 { color: #1a202c; }

.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.min-h-screen { min-height: 100vh; }

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.items-center { align-items: center; }

.p-6 { padding: 1.5rem; }

.bg-gray-100 { background-color: #f7fafc; }

.bg-white { background-color: #fff; }

.w-20 { width: 5rem; }

.h-20 { height: 5rem; }

.fill-current {
  fill: currentColor;
}

.text-gray-500 { color: #a0aec0; }

.w-full { width: 100%; }

.mt-6 { margin-top: 1.5rem; }

.px-6 { padding-right: 1.5rem; padding-left: 1.5rem; }

.py-4 { padding-top: 1rem; padding-bottom: 1rem; }

.shadow-md { box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); }

.overflow-hidden { overflow: hidden; }



@media (min-width: 640px) {
    .justify-center { justify-content: center; }
    .pt-0 { padding-top: 0; }
    .max-w-md { max-width: 28rem; }
    .rounded-lg { border-radius: 0.5rem; }
}


